<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bsw.vehicle.mapper.PromotionMapper">
    <insert id="insertContents" parameterType="com.bsw.vehicle.model.PromotionVO">
    	INSERT INTO IA_PROMOTION_TN
			(
			  TITLE,
			  CONTENTS,
			  FILE_ID,
			  REGIST_USER_ID,
			  REGIST_DT,
			  ACCEPT_YN
			)
			VALUES (
			  #{title},
			  #{contents},
			  #{file_id},
			  #{regist_user_id},
			  NOW(),
			  'N'
			)
    </insert>
    
</mapper>